@model IEnumerable<BerberWebSitesi.Models.Employee>

@{
    ViewData["Title"] = "Çalışanlar";
}

<div class="container mt-5">
    <h1>Çalışanlar</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Yaptığı İşler</th>
                <th>Çalışma Günleri</th>
                <th>Çalışma Saatleri</th>
                <th>İzin Günleri</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Email</td>
                    <td>@employee.JobTitle</td>
                    <td>@employee.WorkDays</td>
                    <td>@employee.WorkHours</td>
                    <td>@employee.LeaveDays</td>

                </tr>
            }
        </tbody>
    </table>
</div>
